/*
 * Z-Index Guide
 * Story Overlay: 1
 * Story Text: 2
 * Story Edit Buttons: 3
 * Story Nav Buttons: 4
 */

@import '../../node_modules/sass-bem/bem';
// @import '../../node_modules/tiny-slider/dist/tiny-slider';

@import 'colors';
@import 'button-primary';

%nav-button {
	all: unset;

	background-color: $color-wrong-orange;
	cursor: pointer;
	padding: 1rem;

	&:hover {
		background-color: $color-wrong-orange-t10;
	}

	svg {
		fill: #fff;
	}

	&:hover svg {
		fill: #000;
	}
}

%nav-button-icon {
	display: block;
	height: auto;
	width: 1rem;
}

@include b('story-carousel') {

	display: flex;
	flex-direction: row;
	font-family: Gentona, sans-serif;

	> * + * {
		margin-left: 1rem;
	}

	// Placeholder text
	.editor-rich-text__tinymce + .editor-rich-text__tinymce {
		color: #ccc;
	}

	@include e('info') {
		flex-basis: 50%;
		flex-grow: 0;
	}

	@include e('heading') {
		color: $color-wrong-orange;

		font-size: 3.375rem;
		line-height: 3.5rem;
		text-transform: uppercase;
	}

	@include e('link') {
		@extend %button-primary;
	}

	//  ######  ########  #######  ########  #### ########  ######
	// ##    ##    ##    ##     ## ##     ##  ##  ##       ##    ##
	// ##          ##    ##     ## ##     ##  ##  ##       ##
	//  ######     ##    ##     ## ########   ##  ######    ######
	//       ##    ##    ##     ## ##   ##    ##  ##             ##
	// ##    ##    ##    ##     ## ##    ##   ##  ##       ##    ##
	//  ######     ##     #######  ##     ## #### ########  ######

	// ####  ######   #######  ##    ##  ######
	//  ##  ##    ## ##     ## ###   ## ##    ##
	//  ##  ##       ##     ## ####  ## ##
	//  ##  ##       ##     ## ## ## ##  ######
	//  ##  ##       ##     ## ##  ####       ##
	//  ##  ##    ## ##     ## ##   ### ##    ##
	// ####  ######   #######  ##    ##  ######

	//  ######   #######  ########  ######## #### ##    ##  ######
	// ##    ## ##     ## ##     ##    ##     ##  ###   ## ##    ##
	// ##       ##     ## ##     ##    ##     ##  ####  ## ##
	//  ######  ##     ## ########     ##     ##  ## ## ## ##   ####
	//       ## ##     ## ##   ##      ##     ##  ##  #### ##    ##
	// ##    ## ##     ## ##    ##     ##     ##  ##   ### ##    ##
	//  ######   #######  ##     ##    ##    #### ##    ##  ######

	// ########  ##     ## ######## ########  #######  ##    ##  ######
	// ##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ##
	// ##     ## ##     ##    ##       ##    ##     ## ####  ## ##
	// ########  ##     ##    ##       ##    ##     ## ## ## ##  ######
	// ##     ## ##     ##    ##       ##    ##     ## ##  ####       ##
	// ##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ##
	// ########   #######     ##       ##     #######  ##    ##  ######

	@include e('buttons') {
		bottom: -0.5rem;
		display: flex;
		flex-direction: row;
		position: absolute;
		right: 2rem;
		z-index: 4;

		> * + * {
			margin-left: 0.5rem;
		}
	}

	@include e('next-button') {
		@extend %nav-button;
	}
	@include e('prev-button') {
		@extend %nav-button;
	}

	@include e('next-icon') {
		@extend %nav-button-icon;
	}
	@include e('prev-icon') {
		@extend %nav-button-icon;
	}

}
