@import 'colors';

$button-background: $color-wrong-orange;
$button-accent: $color-wrong-orange-s20;
$button-background--active: $color-wrong-orange-s10;

@mixin button-primary {
	// TODO: Fix this @include
	// @include heading-10;
	align-items: center;
	// background-color: $button-background;
	background-color: $button-background;
	color: #000;
	display: flex;
	height: 50px;
	justify-content: center;
	margin-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	text-align: center;

	&::before,
	&::after {
		border-style: solid solid none none;
		border-width: 50px 40px 0;
		content: '';
		height: 0;
		position: absolute;
		top: 0;
		width: 0;
	}

	&::before {
		border-color: $button-accent transparent;
		left: 0;
	}

	&::after {
		border-color: transparent $button-accent;
		right: 0;
	}

	&:active,
	&:focus,
	&:hover {
		// background-color: $button-background--active;
		background-color: $button-background--active;
	}
}
